.icon {
    font-size: 1.4em;
}

.nav-pills .nav-link.active {
    background-color: var(--accent1);
}

.nav-link:hover {
    color: var(--accent2);
}

.nav-link {
    color: var(--text-col);
}

.homeButton {
    visibility: visible;
    opacity: 1;
    transition: opacity .1s ease-in-out, visibility .1s;
}

.homeButton.hidden {
    visibility: hidden;
    opacity: 0;
}