body {
  --background1: #181824;
  --background2: rgba(51, 44, 71, 0.8);
  --background3: rgb(63, 63, 94, .6);

  --accent1: rgb(252, 189, 26);
  --accent1-bg: rgb(252, 189, 26, .6);

  --accent2: rgb(247, 127, 0);
  --accent2-bg: rgb(247, 127, 0, .6);

  --text-col: white;
  --text-col2: white; 

  --font-size: 16px;

  background-color: var(--background1);
  box-sizing: border-box;
  color: var(--text-col);
  font-family: Helvetica, sans-serif;
  font-size: var(--font-size);
}
body.light {
  --background1: #fffded;
  --background2: rgba(227, 245, 224, .8);
  --background3: rgba(121, 185, 170, 0.6);

  --accent1: rgb(52, 137, 166);
  --accent1-bg: rgba(115, 187, 211, 0.6);

  --accent2: rgb(76, 169, 94);
  --accent2-bg: rgba(169, 224, 143, 0.6);

  --text-col: black;
  --text-col2: #4F4789;
}

.background2 {
  background-color: var(--background2);
}

.background3 {
  background-color: var(--background3);
}

.accent1-bg {
  background-color: var(--accent1-bg);
}

.accent2-bg {
  background-color: var(--accent2-bg);
}

.accent1 {
  color: var(--accent1);
}

.accent2 {
  color: var(--accent2);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.bg {
  background-image: url("./Assets/darkmode.png");
  filter: brightness(70%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.light .bg {
  background-image: url("./Assets/lightmode.png");
  filter: brightness(100%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura';
  font-weight: 'Lighter'; 
  font-weight: 100;
}

h1 {
  font-size: 3.5em;
}

h3 {
  font-size: 1.1em;
  font-style: italic;
}
h4 {
  font-size: 1.1em;
  display: inline;
}

a {
  text-decoration: none;
  color: var(--text-col);
}

p {
  margin-bottom: .3em;
}

/* Styling for boxes */

.up {
  position: relative;
  bottom: .1em;
  margin-left: .2em;
}

.icon {
  font-size: 1.5em;
}

.text-right {
  text-align: right;
}
.text-smaller {
  font-size: .8em;
}

.border {
  border: 3px solid var(--text-col);
}

.mainPane {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
}

.sixty {
  width: 60%;
  height: 60vh;
}

.sixtyeighty {
  width: 60%;
  height: 80vh;
}

.eighty {
  width: 70%;
  height: 80vh;
}

.block {
  border-radius: .5em;
  display:block;
  padding: .5em .8em;
}

.bottomCorner {
  position:absolute;
  bottom: 0;
}

.accent1hover:hover {
  color: var(--accent1);
}

.accent2hover:hover {
  color: var(--accent2);
}

.vertcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nostyle {
  color: var(--text-col);
  background-color: transparent;
  border: none;
}
