body {
  --background1: #181824;
  --background2: rgb(45, 44, 48, .6);
  --background3: rgb(63, 63, 94, .6);

  --yellow: rgb(252, 189, 26);
  --yellow-bg: rgb(252, 189, 26, .4);

  --orange: rgb(247, 127, 0);
  --orange-bg: rgba(47, 44, 39, 0.4);

  --font-size: 16px;

  background-color: #181824;
  box-sizing: border-box;
  color: white;
  font-family: Helvetica, sans-serif;
  /* font-family: 'Futura';
  font-weight: 'Lighter'; */
  font-size: var(--font-size);
}
body.dark {
  --background1: #ffffff;
  --background2: rgba(240, 239, 230, 0.6);
  --background3: rgba(220, 210, 192, 0.6);

  --yellow: rgb(227, 181, 17);
  --yellow-bg: rgba(227, 169, 21, 0.4);

  --orange: rgb(247, 127, 0);
  --orange-bg: rgba(47, 44, 39, 0.4);
}

.background2 {
  background-color: var(--background2);
}

.background3 {
  background-color: var(--background3);
}

.yellow-bg {
  background-color: var(--yellow-bg);
}

.orange-bg {
  background-color: var(--orange-bg);
}

.yellow {
  color: var(--yellow);
}

.orange {
  color: var(--orange);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.bg {
  background-image: url("./Assets/RESEARCH.png");
  background-repeat: no-repeat;
  background-size: auto 100vh;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 {
  font-size: 3.5em;
}

h3 {
  font-size: 1.1em;
  font-style: italic;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin-bottom: .3em;
}

/* Styling for boxes */

.up {
  position: relative;
  bottom: .1em;
  margin-left: .2em;
}

.icon {
  font-size: 1.5em;
}

.text-right {
  text-align: right;
}

.border {
  border: 3px white;
}

.mainPane {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
}

.sixty {
  width: 60%;
  height: 60vh;
}

.sixtyeighty {
  width: 60%;
  height: 80vh;
}

.eighty {
  width: 70%;
  height: 80vh;
}

.block {
  border-radius: .5em;
  display:block;
  padding: .5em .8em;
}

.arrow-icon {
  position:relative;
  top:.2em;
  transition: transform .3s ease-in-out;
}

[aria-expanded="true"] .arrow-icon {
  transform: rotate(-180deg);
}

.pdf-container {
  position:relative;
  width: 100%;
  padding-bottom: 125%;
}

.pdf-container iframe {
  position:absolute;
  top:0;
  left: 10%;
  width:80%;
  height:100%;
  border: none;
}

.bottomCorner {
  position:absolute;
  bottom: 0;
}

.yellowhover:hover {
  color: var(--yellow);
}

.orangehover:hover {
  color: var(--orange);
}

.vertcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nostyle {
  color: white;
  background-color: transparent;
  border: none;
}